[Unit]
Description=Smart Mouse web containers
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker-compose -f /config/docker/docker-compose.yml up
ExecStop=/usr/bin/docker-compose -f /config/docker/docker-compose.yml down

[Install]
WantedBy=multi-user.target
